.div-about h2 {
    font-size: var(--font-size-h3);
}

.softskills-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing);
}

.softskills-hobbies {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    text-align: center;
}

@media (max-width: 999px) {
    .softskills-content {
        flex-direction: column;
    }
}
