<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.title}"></title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/div-about.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<main class="content">

    <h1 th:text="#{app.about.title}"></h1>

    <!-- Hard Skills -->
    <h2 th:text="#{app.about.hardskills}"></h2>

    <div th:replace="fragments/div-about :: div-about"></div>

    <div class="skill-cards">
        <div class="academic-certifications-languages">
            <!-- TODO: Tecnologias / Techs -->

            <!-- Academic Qualifications -->
            <div class="skill-card">
                <h3 th:text="#{app.about.skills.academic}"></h3>
                <ul th:if="${!academicQualifications.isEmpty()}">
                    <li th:each="academicQualification : ${academicQualifications}">
                        <p>
                            <strong th:text="#{app.about.skills.academic.university}"></strong>
                            <span th:text="${academicQualification.university}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.academic.course}"></strong>
                            <span th:text="${#locale.language == 'pt' ? academicQualification.courseBR : academicQualification.course}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.academic.start_year}"></strong>
                            <span th:text="${academicQualification.startYear}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.academic.graduation_year}"></strong>
                            <span th:text="${academicQualification.graduationYear}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.academic.status}"></strong>
                            <span th:text="${#locale.language == 'pt' ? academicQualification.statusBR : academicQualification.status}"></span>
                        </p>
                    </li>
                </ul>
            </div>

            <!-- Certifications -->
            <div class="skill-card">
                <h3 th:text="#{app.about.skills.certifications}"></h3>
                <ul th:if="${!certifications.isEmpty()}">
                    <li th:each="certification : ${certifications}">
                        <p>
                            <strong th:text="#{app.about.skills.certification.institution}"></strong>
                            <span th:text="${certification.institution}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.certification.certificate}"></strong>
                            <span th:text="${#locale.language == 'pt' ? certification.certificateBR : certification.certificate}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.certification.year}"></strong>
                            <span th:text="${certification.year}"></span>
                        </p>
                    </li>
                </ul>
            </div>

            <!-- Languages -->
            <div class="skill-card">
                <h3 th:text="#{app.about.skills.languages}"></h3>
                <ul th:if="${!languages.isEmpty()}">
                    <li th:each="language : ${languages}">
                        <p>
                            <strong th:text="#{app.about.skills.language}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.languageBR : language.language}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.language.reading}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.readingBR : language.reading}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.language.writing}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.writingBR : language.writing}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.language.speaking}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.speakingBR : language.speaking}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.language.listening}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.listeningBR : language.listening}"></span>
                        </p>
                    </li>
                </ul>
            </div>

        </div>

        <!-- Work Experience -->
        <div class="skill-card">
            <h3 th:text="#{app.about.skills.works}"></h3>
            <!-- TODO: Experiencias Profissionais / Work Experience -->
        </div>

    </div>

    <!-- Soft Skills -->
    <h2 th:text="#{app.about.softskills}"></h2>

    <div class="softskills-content">
        <div th:utext="#{app.about.hobbies}"
             class="softskills-hobbies"></div>
        <img th:src="#{app.about.softskills.image.url}" alt="#{app.about.softskills}">
    </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>