<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.title}"></title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/div-about.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<main class="content">

    <h1 th:text="#{app.about.title}"></h1>

    <!-- Hard Skills -->
    <h2 th:text="#{app.about.hardskills}"></h2>

    <div th:replace="fragments/div-about :: div-about"></div>

    <!-- Techs -->
    <div class="skill-card">
        <h3 th:text="#{app.about.skills.techs}"></h3>
        <ul th:if="${!techs.isEmpty()}" class="techs">
            <li th:each="tech : ${techs}">
                <img th:src="${tech.image_url}" th:alt="${tech.name}">
                <strong th:text="${tech.name}"></strong>
            </li>
        </ul>
    </div>

    <div class="skill-cards">

        <div class="academic-certifications-languages">

            <!-- Academic Qualifications -->
            <div class="skill-card card-bicolor">
                <h3 th:text="#{app.about.skills.academic}"></h3>
                <ul th:if="${!academicQualifications.isEmpty()}">
                    <li th:each="academicQualification : ${academicQualifications}">
                        <p>
                            <strong th:text="#{app.about.skills.academic.university}"></strong>
                            <span th:text="${academicQualification.university}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.academic.course}"></strong>
                            <span th:text="${#locale.language == 'pt' ? academicQualification.course_br : academicQualification.course}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.academic.start_year}"></strong>
                            <span th:text="${academicQualification.start_year}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.academic.graduation_year}"></strong>
                            <span th:text="${academicQualification.graduation_year}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.academic.status}"></strong>
                            <span th:text="${#locale.language == 'pt' ? academicQualification.status_br : academicQualification.status}"></span>
                        </p>
                    </li>
                </ul>
            </div>

            <!-- Certifications -->
            <div class="skill-card card-bicolor">
                <h3 th:text="#{app.about.skills.certifications}"></h3>
                <ul th:if="${!certifications.isEmpty()}">
                    <li th:each="certification : ${certifications}">
                        <p>
                            <strong th:text="#{app.about.skills.certification.institution}"></strong>
                            <span th:text="${certification.institution}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.certification.certificate}"></strong>
                            <span th:text="${#locale.language == 'pt' ? certification.certificate_br : certification.certificate}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.certification.year}"></strong>
                            <span th:text="${certification.year}"></span>
                        </p>
                    </li>
                </ul>
            </div>

            <!-- Languages -->
            <div class="skill-card card-bicolor">
                <h3 th:text="#{app.about.skills.languages}"></h3>
                <ul th:if="${!languages.isEmpty()}">
                    <li th:each="language : ${languages}">
                        <p>
                            <strong th:text="#{app.about.skills.language}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.language_br : language.language}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.language.reading}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.reading_br : language.reading}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.language.writing}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.writing_br : language.writing}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.language.speaking}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.speaking_br : language.speaking}"></span>
                        </p>
                        <p>
                            <strong th:text="#{app.about.skills.language.listening}"></strong>
                            <span th:text="${#locale.language == 'pt' ? language.listening_br : language.listening}"></span>
                        </p>
                    </li>
                </ul>
            </div>

        </div>

        <!-- Work Experience -->
        <div class="skill-card card-bicolor">
            <h3 th:text="#{app.about.skills.works}"></h3>
            <ul th:if="${!workExperiences.isEmpty()}">
                <li th:each="workExperience : ${workExperiences}">
                    <p>
                        <strong th:text="#{app.about.skills.works.job_title}"></strong>
                        <span th:text="${#locale.language == 'pt' ? workExperience.job_title_br : workExperience.jobTitle}"></span>
                    </p>
                    <p th:if="${workExperience.company != null}">
                        <strong th:text="#{app.about.skills.works.company}"></strong>
                        <span th:text="${workExperience.company}"></span>
                    </p>
                    <p>
                        <strong th:text="#{app.about.skills.works.start_year}"></strong>
                        <span th:text="${workExperience.start_year}"></span>
                        <span th:if="${workExperience.end_year == null}"
                              th:text="#{app.about.skills.works.present}"></span>
                    </p>
                    <p th:if="${workExperience.end_year != null}">
                        <strong th:text="#{app.about.skills.works.end_year}"></strong>
                        <span th:text="${workExperience.end_year}"></span>
                    </p>
                    <p>
                        <strong th:text="#{app.about.skills.works.responsibilities}"></strong>
                        <span th:text="${#locale.language == 'pt' ? workExperience.responsibilities_br : workExperience.responsibilities}"></span>
                    </p>
                </li>
            </ul>

        </div>

    </div>

    <!-- Soft Skills -->
    <h2 th:text="#{app.about.softskills}"></h2>

    <div class="softskills-content">
        <div th:utext="#{app.about.hobbies}"
             class="softskills-hobbies"></div>
        <img th:src="#{app.about.softskills.image.url}" alt="#{app.about.softskills}">
    </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/about-techs.js}"></script>

</body>
</html>