<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{app.title}"></title>
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/div-about.css}">
  <link rel="stylesheet" th:href="@{/css/contacts.css}">
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<main class="content">

  <h1 th:text="#{app.contact.title}"></h1>

  <div class="contacts-content">
    <ul th:if="${!contacts.isEmpty()}">
      <li th:each="contact : ${contacts}">
        <a th:href="${contact.link}" target="_blank">
          <img th:src="${contact.imageUrl}" th:alt="${contact.name}">
          <p th:text="${contact.name}"></p>
        </a>
      </li>
    </ul>
    <img th:src="#{app.contact.image_url}" th:alt="#{app.contact.title}" class="contacts-image">
  </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>