<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.title}"></title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/projects.css}">
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<main class="content">

    <h1 th:text="#{app.projects.title}"></h1>

    <!-- Projects -->
    <ul th:if="${!projects.isEmpty()}" class="projects">
        <li th:each="project : ${projects}" class="project">

            <img th:src="${project.image_url}" th:alt="${project.name}" class="project-img">

            <div class="project-info">
                <p>
                    <strong th:text="#{app.projects.name}"></strong>
                    <span th:text="${#locale.language == 'pt' ? project.name_br == null ? project.name : project.name_br : project.name}"></span>
                </p>

                <ul th:if="${!project.techs.isEmpty()}" class="techs">
                    <li th:each="tech : ${project.techs}">
                        <img th:src="${tech.image_url}" th:alt="${tech.name}" class="tech-img">
                    </li>
                </ul>

                <p>
                    <strong th:text="#{app.projects.description}"></strong>
                    <span th:text="${#locale.language == 'pt' ? project.description_br == null ? project.description : project.description_br : project.description}"></span>
                </p>

                <div class="buttons">
                    <a th:if="${project.github != null}"
                       th:href="${project.github}"
                       target="_blank"
                       class="button">
                        <img th:src="#{app.projects.github.img_url}" alt="" class="button-img">
                        <span th:text="#{app.projects.github}"></span>
                    </a>

                    <a th:if="${project.link != null}"
                       th:href="${project.link}"
                       target="_blank"
                       class="button">
                        <img th:src="#{app.projects.play.img_url}" alt="" class="button-img">
                        <span th:text="#{app.projects.play}"></span>
                    </a>
                </div>
            </div>

        </li>
    </ul>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>